<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<style>
table {
	width: 100%;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 15px;
	text-align: left;
}

table#t01 tr:nth-child(even) {
	background-color: #eee;
}

table#t01 tr:nth-child(odd) {
	background-color: #fff;
}

table#t01 th {
	background-color: green;
	color: white;
}
.signout{
	float: right;
	color: #2f2f2f;
	margin: 8px;
}
</style>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>
	
	<form th:action="@{/logout}" method="post">
	<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#myNavbar"></button>
					<a class="navbar-brand" href="#">Hello
						[[${#httpServletRequest.remoteUser}]]!</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<div class="signout">
						<button type="submit" value="Sign Out" class="btn">LogOut</button>
					</div>
				</div>
			</div>
		</nav>
		</form>
		<form th:action="@{/addnote}" modelAttribute="notes" method="post">
		<div class="container-fluid bg-1 text-center">
		
		<br/>
		<table id="t01" class="table">
			<thead>
				<tr>
					<th class="col-md-2">Topic</th>
					<th class="col-md-6">Message</th>
					<th class="col-md-2">Created At</th>
					<th class="col-md-2">Updated At</th>
				</tr>
				<tr th:each="note : ${notes}">
					<td th:text="${note.title}" class="col-md-2"></td>
					<td th:text="${note.description}" class="col-md-6"></td>
					<td th:text="${#dates.format(note.createdTime, 'dd-MMM-yyyy')}" class="col-md-2"></td>
					<td th:text="${#dates.format(note.updatedTime, 'dd-MMM-yyyy')}" class="col-md-2"></td>

				</tr>
			</thead>
		</table>
		<button type="Submit" style="margin: 25px;" class="btn btn-success" name="action" value="back">Back</button>
		<button type="Submit" style="margin: 25px;" class="btn btn-success" name="action" value="add">Add</button>
		</div>
	</form>

</body>
</html>